[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-apscheduler = "*"
apscheduler = "*"
requests = "*"
httpx = {extras = ["http2"], version = "*"}
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
